.our-strength-wrapper {
  width: 80%;
  margin: 2rem auto;
  position: relative;
}

.our-strength-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #16314D;
  margin-top: 56px;
}

.our-strength-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
}

.our-strength-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.our-strength-image {
  width: 100px;
  height: auto;
  margin: 0 2rem 1rem;
  border-radius: 5%;
}

.our-strength-item {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 40%;
  background-image: linear-gradient(to bottom, #16314D, #1E4364);
  border-radius: 8px;
  position: relative;
}

.our-strength-item::before {
  content: '';
  position: absolute;
  width: 20%; /* change this to control the length of the line */
  height: 4px; /* this controls the thickness of the line */
  background-color: #16314D; 
  top: 50%; /* aligns the line vertically with the middle of the item */
  right: -20%; /* position the line to the left of the item */
}

.strength-2,
.strength-4 {
  margin-left: auto;
}

.strength-2::before,
.strength-4::before {
  right: auto; 
  left: -20%; /* position the line to the right of the item for even items */
}

.our-strength-item:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.our-strength-content {
  width: 60%;
  min-width: 300px;
}

.our-strength-title,
.our-strength-description {
  margin-bottom: 1rem;
  color: #ffffff;
}

.our-strength-title {
  font-size: 1.5rem;
}
