.heroWrapper {
    display: flex;
    background-image: linear-gradient(to bottom, #16314D, #1E4364, #28547B, #336791);
    align-items: center;
    justify-content: center;
    max-height: 500px;
    height: 100%;
    padding: 101px 0 100px 0;
    flex-direction: column;
  }
  
  .heroWrapper a {
    max-width: 410px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }

  .heroWrapper img {

    width: 100%;
    height: 100%;
  }

  .heroWrapper h1 {
    color: white;
  }
  
  .heroWrapper h1 span:nth-of-type(1),
  .heroWrapper h1 span:nth-of-type(10),
  .heroWrapper h1 span:nth-of-type(16),
  .heroWrapper h1 span:nth-of-type(25) {
    color: #06283D;
  }

  .heroWrapper h2 {
    color: white;
  }

  .h2-wrapper {
    display: flex;
    align-items: center;
  }
  
  .h2-wrapper h2 {
    margin: 0;
    font: 10px;
  }

  .h2-first {
    color: #06283D !important;
  }
  
  .h2-second {
    font-size: large;
    padding-top: 5px;
  }