@use '../../Assets/styles/variables.scss' as v;

.image-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, v.$offWhite, v.$blue, v.$offWhite 100%);
  box-shadow: 0 2px 4px v.$offWhite(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.image-with-text img {
    height: 500px;
    width: 400px;
    border-radius: 10px;
}

.image-with-text p {
  text-align: center;
  background-color: v.$gray, 98%;
}

.image-with-text h1 {
  color: v.$black;
  background: v.$gray, 98%;
}
