.image-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-with-text img {
    height: 500px;
    width: 400px;

}

.text {
  text-align: center;

}

